@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Montserrat";
}

body,
.main-text,
.call-text {
  margin: 0;
}

.first,
.fourth {
  padding-left: 220px;
  padding-right: 220px;
}

.fourth {
  padding-top: 90px;
  padding-bottom: 90px;
}

.first,
footer {
  background-color: #1f2937;
}

.third {
  background-color: #e5e7eb;
}

.call-to-action,
button {
  background-color: #3882f6;
}

button {
  border-radius: 10px;
  text-align: center;
  padding: 8px 40px;
  border: none;
  font-weight: bold;
  font-size: 17px;
}

.call-action-button {
  border: 2px solid white;
}

.main-text,
.header-logo,
button,
.fourth {
  color: #f9faf8;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
}

.header-logo {
  font-size: 24px;
  margin-right: auto;
}

.secondary-text,
.header-link {
  font-size: 18px;
  color: #e5e7eb;
}

.information-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav {
  display: flex;
}

.intro-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.call-to-action {
  display: flex;
  justify-content: space-between;
  padding: 60px 120px;
  border-radius: 10px;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.boxes {
  display: flex;
  gap: 30px;
}

.box {
  border: 3px solid #3882f6;
  padding: 50px;
  border-radius: 10px;
}

/* Images */
.robot-img {
  width: 60%;
  height: 70%;
}
