@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

body {
  margin: 0;
}

.first {
  padding: 1px 165px;
}

.fourth {
  padding: 50px 165px;
}

.first,
footer {
  background-color: #1f2937;
}

.third {
  background-color: #e5e7eb;
}

.call-to-action,
button {
  background-color: #3882f6;
}

button {
  border-radius: 10px;
  text-align: center;
  padding: 8px 38px;
  border: none;
}

.call-action-button {
  border: 2px solid white;
}

.main-text,
.header-logo,
button {
  color: #f9faf8;
}
.main-text {
  font-size: 48px;
  font-weight: bolder;
}

.header-logo {
  font-size: 24px;
  margin-right: auto;
}

.secondary-text,
.header-link {
  font-size: 18px;
  color: #e5e7eb;
}

.nav {
  display: flex;
}

.intro-content {
  display: flex;
}

.call-to-action {
  display: flex;
}

/* Images */
.robot-img {
  width: 60%;
  height: 70%;
}
